{% extends 'sidebar.html.twig' %}

{% block title %}InnovShop - {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block client_content %}
    <div class="container">

        test contenu client

    </div>
{% endblock %}
