{% extends 'base.html.twig' %}

{% block title %}InnovShop{% endblock %}

{% block body %}

    <div class="container">
        <div class="lastArrived mgy-4">
            <h1>Nos derniers arrivages</h1>
        </div>
        <div class="flashSales mgy-4">
            <h1>Nos articles à la une</h1>
        </div>


    </div>





{% endblock %}
