{% extends 'base.html.twig' %}

{% block body %}
    <div class="client-layout row">
        <aside class="sidebar">
            <h1 class="mgt-1"><a href="{{ path('client.index') }}">Mes infos personnelles</a></h1>
            <div class="myOrders mgt-2">
                <h1>Mes commandes</h1>
                <a class="mgt-1" href="#">Commandes en cours</a>
                <a class="second-child-orders" href="#">Commandes passées</a>
            </div>
        </aside>

        {% block client_content %}{% endblock %}
    </div>
{% endblock %}
