{% extends 'sidebar.html.twig' %}

{% block title %}Hello FactureController!{% endblock %}

{% block client_content %}
    <div class="example-wrapper">
        <h1>Hello! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>C:/Users/Erwann/innovShop/src/Controller/FactureController.php</code></li>
            <li>Your template at <code>C:/Users/Erwann/innovShop/templates/facture/index.html.twig</code></li>
        </ul>
    </div>
{% endblock %}
