{% extends 'base.html.twig' %}

{% block title %}InnovShop - Catalogue{% endblock %}

{% block body %}
    Page catalogue<br>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores beatae ducimus, excepturi facilis minus molestiae optio praesentium quae quaerat quas quis quisquam ratione sequi sunt tempore veniam voluptatibus! Quia!
    
    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ path('article.show', {id: article.id, slug: article.slug}) }}">{{ article.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="boutonPage">
        {% if page > 1 %}
            <a href="{{ path('article.index', {page: page - 1}) }}">Page précédente</a>
        {% endif %}
        {% if page < maxPage %}
            <a href="{{ path('article.index', {page: page + 1}) }}">Page suivante</a>
        {% endif %}
    </div>

{% endblock %}
